h1{
    background-color: brown;
    font-size:60px;
    text-align: center;
    border-bottom:1px solid gray;
    padding:20px;
    margin:0;
}
body{
    font-size:19px;
}
.grid{
    display : grid;
    grid-template-columns: 180px 1fr;
}
.size ul{
    list-style: none;
    font-size:17px;
    padding-left: 0px;
    padding-right: 0px;
}
#main ul{
    display : grid;
    font-size : 18px;
    padding-left : 33px;
    border-right:1px solid gray;
    width:130px;
    margin:0;
    padding:20px;
    padding-bottom:800px;
}
a{
    text-decoration: none;
    color:black;
}