h1{
    background-color: rgb(92,40,1);
    font-size:60px;
    text-align: center;
    border-bottom:1px solid gray;
    padding:20px;
    margin:0;
}
body{
    margin : 0px;
    font-size:19px;
    background-color: rgb(228, 228, 228);
}
.grid{
    display : grid;
    grid-template-columns: 180px 1fr;
}
.size ul{
    list-style: none;
    font-size:17px;
    padding-left: 0px;
    padding-right: 0px;
}
#main ul{
    display : grid;
    font-size : 18px;
    padding-left : 33px;
    border-right:1px solid gray;
    width:130px;
    margin:0;
    padding:0px;
    padding-bottom:840px;
    list-style:none;
}

#main li{
    border : 1px solid gray;
    text-align: center;
    padding-right:40px;
    padding-left:40px;
    padding-top:5px;
    padding-bottom:5px;
}
a{
    text-decoration: none;
    color:black;
}

footer{
    height : 80px;
    padding-top : 30px;
    padding-bottom : 5px;
    background-color: rgb(185, 185, 185);
    font-size : 13px;
    border-top : 1px solid gray;
    color:rgb(24, 24, 24);
    text-align : center;
}

nav{
    padding-left : 40px;
}
.address{
    padding-left: 40px;
}